body {
  background-image: url(./bg-2.jpg);
  background-position: 0px center;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100vw;
}
#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
